* {
    font-family: 'Merriweather', sans-serif;
    font-size: 13px;
    color: #837E9F;
}

body{
    background: #22212C;
}

#profile{
    padding: 30px 0 0 0;
    text-align: center;
    width: 348px;
    height: 262px;
    background-color: #302F3D;
    border-radius: 30px;
}

#p-img{
    border-radius: 50%;
    border: 2px solid #00FF00;
}

#p-name{
    font-size: 23px;
}

#links{
    margin: 30px 0;
    padding: 30px 0 0 20px;
    width: 328px;
    height: 318px;
    background-color: #302F3D;
    border-radius: 30px;
    line-height: 50px;
}

#technologies{
    margin: 30px 0;
    padding: 10px 20px 0 20px;
    width: 308px;
    height: 178px;
    background-color: #302F3D;
    border-radius: 30px;
    font-size: 10px;
}

    #t-title{
        border: 1px solid red;
        font-size: 20px;
        display: block;
    }
    .technologies{
        font-weight: bold;
        color: #000000;
        text-align: center;
        width: 86px;
        height: 24px;
        font-size: 10px;
        background-color: #CB92B1;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #technologies-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        
        
    }

#experiences{
    margin: 30px 0;
    padding: 10px 20px 0 20px;
    width: 308px;
    height: 338px;
    background-color: #302F3D;
    border-radius: 30px;
}

    #exp-title{
        border: 1px solid red;
        font-size: 20px;
        display: block;
    }

    .experiences{
        font-size: 14px;
    }

    .exp-description{
        font-size: 12px;
    }

#education{
    margin: 30px 0;
    padding: 10px 20px 0 20px;
    width: 308px;
    height: 342px;
    background-color: #302F3D;
    border-radius: 30px;
}

    #edu-title{
        border: 1px solid red;
        font-size: 20px;
        display: block;
    }

    .education{
        font-size: 14px;
    }

    .edu-description{
        font-size: 12px;
    }
#my-projects{
    margin: 30px 0;
    padding: 0 0 0 20px;
    width: 932px;
    height: 86px;
    background-color: #302F3D;
    border-radius: 30px;
    }

    #mp-title{
        border: 1px solid red;
        font-size: 20px;
    }

    .my-project{
        font-size: 14px;
        display:flex;
        justify-content: right;    
    }

#project1{
    margin: 30px 0;
    padding: 10px 0 0 30px;
    width: 431px;
    height: 176px;
    background-color: #302F3D;
    border-radius: 30px;
}

#project2{
    margin: 30px 0;
    padding: 10px 0 0 30px;
    width: 431px;
    height: 176px;
    background-color: #302F3D;
    border-radius: 30px;
}

#recent-posts{
        margin: 30px 0;
        padding: 0 0 0 20px;
        width: 932px;
        height: 86px;
        background-color: #302F3D;
        border-radius: 30px;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    #rp-title{
        border: 1px solid red;
        font-size: 20px;
        display: block;
    }

#post{
    margin: 30px 0;
    padding: 10px 20px 0 20px;
    width: 912px;
    height: 191px;
    background-color: #302F3D;
    border-radius: 30px;
}

    #post-img{
        border-radius: 50%;
    }