* {
    font-family: 'Merriweather', sans-serif;
    font-size: 13px;
    color: #837E9F;
}

body{
    background: #22212C;
    margin: 2rem 2rem;
    align-items: center;
}

#profile{
    padding: 3rem 0 0 0;
    text-align: center;
    width: 27rem;
    height: 20rem;
    background-color: #302F3D;
    border-radius: 1rem;
}

#p-img{
    border-radius: 50%;
    border: 0.2rem solid #00FF00;
}

#p-name{
    font-size: 23px;
}

#links{
    margin: 2rem 0;
    padding: 1rem 0;
    width: 27rem;
    height: 21rem;
    background-color: #302F3D;
    border-radius: 1.5rem;
    line-height: 3rem;
}

    .links{
        margin: 0 0 0 2rem;
        display:inline-flex;
        align-items: center;
    }

    .img-links{
        padding: 0 1rem 0 0;
    }


#technologies{
    margin: 2rem 0;
    width: 27rem;
    height: 11rem;
    background-color: #302F3D;
    border-radius: 1.5rem;
    font-size: 10px;
}

    #t-title{
        padding: 1rem 0 0 0;
        margin: 0 0 0 2rem;
        font-size: 20px;
    }
    .technologies{
        font-weight: bold;
        color: #000000;
        text-align: center;
        width: 7rem;
        height: 2rem;
        font-size: 10px;
        background-color: #CB92B1;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #technologies-content {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;  
    }

#experiences{
    margin: 2rem 0;
    width: 27rem;
    height: 22rem;
    background-color: #302F3D;
    border-radius: 1.5rem;
}

    #exp-title{
        padding: 1rem 0 0 0;
        margin: 0 0 0 2rem;
        font-size: 20px;
    }

    .experiences{
        margin: 0 2rem 0 2rem;
        font-size: 14px;
    }

    .exp-description{
        font-size: 12px;
    }

#education{
    margin: 2rem 0;
    width: 27rem;
    height: 25rem;
    background-color: #302F3D;
    border-radius: 1.5rem;
}

    #edu-title{
        padding: 1rem 0 0 0;
        margin: 0 0 0 2rem;
        font-size: 20px;
    }

    .education{
        margin: 0 2rem 0 2rem;
        font-size: 14px;
    }

    .edu-description{
        font-size: 12px;
    }
#my-projects{
    margin: 2rem 0;
    width: 71rem;
    height: 7rem;
    background-color: #302F3D;
    border-radius: 1.5rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top:0;
    left: 31rem;

    }

    #mp-title{
        margin: 0 2rem 0 2rem;
        width:fit-content;
        font-size: 20px;
    }

    .mp-description{
        margin: 0 2rem 0 2rem;
        width:fit-content;
        font-size: 14px;  
    }

#project1{
    margin: 2rem 0;
    width: 35rem;
    height: 12rem;
    background-color: #302F3D;
    border-radius: 1.5rem;
    position: absolute;
    top: 9rem;
    left: 31rem;
}

    .title-project{
        margin: 1rem 0 0 2rem;
        display:inline-flex;
        align-items: center;
    }

    .description-project{
        margin: 1rem 2rem 0 2rem;
    }

    .rodape-project{
        margin: 1rem 0 0 2rem;
        display:flex;
        align-items: center;
    }

    .img-project{
        margin-right: 5px;
    }

    .text-language-project{
        margin: 0 2rem 0 auto;
    }

#project2{
    margin: 2rem 0;
    width: 35rem;
    height: 12rem;
    background-color: #302F3D;
    border-radius: 1.5rem;
    position: absolute;
    top: 9rem;
    left: 67rem;
}

#recent-posts{
    margin: 2rem 0;
    width: 71rem;
    height: 7rem;
    background-color: #302F3D;
    border-radius: 1.5rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 23rem;
    left: 31rem;
    }

    #rp-title{
        margin: 0 2rem 0 2rem;
        width:fit-content;
        font-size: 20px;
    }

#post{
    margin: 2rem 0;
    width: 71rem;
    height: 14rem;
    background-color: #302F3D;
    border-radius: 1.5rem;
    display:flex;
    align-items: center;
    position: absolute;
    top: 32rem;
    left: 31rem;
}

    #post-title{
        font-size:18px;
    }

    #post-description{
        font-size:16px;
    }

    .post-text{
        margin: 1rem 1rem 0 1rem;
        width: 750px;
    }
    #post-img{
        margin: 0 0 0 2rem;
        border-radius: 50%;
    }

